#contenedor{
	text-align: center;
    width: 10%;
    height: 40em;
    margin: 0 auto;
    display: table;
    flex-direction: column;
    justify-content: center;
}
button#no{
	margin-right: 10px;
	background: rgb(0, 23.906, 23.906);
}
h1{
    text-align: center;
}
#div-ingreso{
    background-color: rgb(240, 240, 240);
}